@define-color background-darker rgba(30, 31, 41, 230);
@define-color background #282a36;
@define-color selection #44475a;
@define-color foreground #f8f8f2;
@define-color comment #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;

* {
    border: none;
    border-radius: 0;
    /* IMPORTANT: no box-shadow here, or every module gets one */
    box-shadow: none;

    font-family: Iosevka;
    font-size: 11pt;
    min-height: 0;
}

/* One single bar surface: background + shadow */
window#waybar {
    background: @background-darker;
    color: @foreground;


}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
}

#workspaces {
    background: transparent;
}

#workspaces button {
    background: transparent;      
}



#workspaces button.urgent {
    background: rgba(255, 85, 85, 0.35);
}


#clock {
    padding: 0 4px;
    background: transparent;
}
